@import "../../global.scss";
.testimonial {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mobile {
    justify-content: space-around;
  }

  h1 {
    font-size: 50px;
    overflow: hidden;

    @include mobile {
      font-size: 20px;
    }
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-content: inherit;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .card {
      margin-top: 20px;
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0 0 15px -8px black;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 20px;
      cursor: pointer;
      transition: all 1s ease-in-out;

      @include mobile {
        height: 180px;
        margin: 10px 0;
      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;
        @include mobile {
          width: 250px;
          height: 180px;
          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.left,
          &.right {
            height: 25px;
          }
          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(250, 244, 245);

        @include mobile {
          padding: 5px;
          font-size: 14px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
          margin-bottom: 5px;
          @include mobile {
            font-size: 14px;
          }
        }
        h4 {
          color: gray;
          @include mobile {
            font-size: 13px;
          }
        }
      }
    }
  }
}
